<nav class="wy-nav-top" aria-label="top navigation">
    <div class="flex">
        <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
        <div class="wy-nav-title">
            <a href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>
    </div>
</nav>
