---
layout: tasks/compress
---

{%- include rest/defaults.liquid -%}
{%- include common/rest/defaults.liquid -%}

<!DOCTYPE html>
<html lang="{{ lang }}" dir="{{ direction }}">
    <head>
        {%- include common/metadata.liquid -%}
        {%- include common/title.liquid -%}
        {%- include common/twitter_cards.liquid -%}
        {%- include common/opengraph.liquid -%}
        {%- include common/schema.liquid -%}
        {%- include common/links.liquid -%}
        {%- include rest/styles.liquid -%}
        {%- include common/script.liquid -%}
        {%- include extra/head.html -%}
    </head>
    <body class="container">
        {%- include templates/sidebar.liquid -%}
        {%- include templates/content.liquid -%}
        {%- include templates/addons.liquid -%}
        {%- include extra/body.html -%}
        {%- include rest/script.liquid -%}
        {%- include common/mermaid.liquid-%}
        
        {%- include common/google_gtag.liquid-%}
        {%- include common/google_adsense.liquid-%}
        <script src="//cdn.rawgit.com/jmnote/plantuml-encoder/d133f316/dist/plantuml-encoder.min.js"></script>
        <script src="/assets/js/jquery.pan.min.js"></script>
        <script>
            $(".language-plantuml").each(function() {
                var src = "//www.plantuml.com/plantuml/img/" + window.plantumlEncoder.encode( $(this).text() );
                $(this).replaceWith($('<img>').attr('src', src));
            });

            $("pre > img").pan();

        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.14/ace.js"></script>
        <script src="/assets/js/zhangfuwen.js"></script>
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                TeX: {
                equationNumbers: {
                    autoNumber: "AMS"
                }
                },
                tex2jax: {
                inlineMath: [ ['$', '$'] ],
                displayMath: [ ['$$', '$$'], [ '\\[', '\\]' ] ],
                processEscapes: true,
            }
            });
            MathJax.Hub.Register.MessageHook("Math Processing Error",function (message) {
                alert("Math Processing Error: "+message[1]);
                });
            MathJax.Hub.Register.MessageHook("TeX Jax - parse error",function (message) {
                alert("Math Processing Error: "+message[1]);
                });
        </script>
        <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
    </body>
</html>
