---
layout: plugins/compress
---

{%- include reset/defaults.liquid -%}

<!DOCTYPE html>
<html class="writer-html5" lang="{{ lang }}">
    <head>
        {%- include node/metadata.liquid -%}

        {%- include node/title.liquid -%}
        {%- include node/links.liquid -%}

        {%- include node/script.schema.liquid -%}

        {%- include extra/head.html -%}
    </head>
    <body class="wy-body-for-nav">
        <div class="wy-grid-for-nav">
            {%- include class/wy-nav-side.liquid -%}
            <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">
                {%- include class/wy-nav-top.liquid -%}
                {%- include class/wy-nav-content.liquid -%}
            </section>
        </div>
        {% include class/rst-versions.liquid %}

        {%- include node/script.liquid -%}
        {%- include node/script.extension.liquid -%}
        {% include extra/footer.html %}
    </body>
</html>
